{% extends "system/base_navbar.html" %}
{% block base_main %}
    {% if sidebar %}
        {% with class_name="col-md-8" %}
            <div class="{{ class_name }}">
        {% endwith %}
    {% else %}
        {% with class_name="col-md-12" %}
            <div class="{{ class_name }}">
        {% endwith %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if title %}
        <div class="page-metadata">
            <div class="page-title">
                <h1>{{ title }}</h1>
            </div>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    </div>
    {% if sidebar %}
        <div class="col-md-4">
            <div class="content-section">
                <ul class="list-group">
                    {% if "Student" in groups %}
                        <li class="list-group-item list-group-item-light"><a class="mr-2" href="{% url 'course-list' %}?position=student">My courses{{ student_str }}</a></li>
                        <li class="list-group-item list-group-item-light"><a class="mr-2" href="{% url 'search' %}">Find course</a></li>
                    {% endif %}
                    {% if "Teacher" in groups %}
                        <li class="list-group-item list-group-item-light"><a class="mr-2" href="{% url 'course-list' %}?position=teacher">My courses{{ teacher_str }}</a></li>
                        <li class="list-group-item list-group-item-light"><a class="mr-2" href="{% url 'course-create' %}">Create new course</a></li>
                    {% endif %}
                    <li class="list-group-item list-group-item-light"><a class="mr-2" href="{% url 'manage-groups' %}">Manage my groups</a></li>
                </ul>
                <div class="sidebar-footer">
                    <p class="article-content" style="display:inline">
                        {% if groups %}
                            {% for group in groups %}<button class="tag-buttons list-group-item-light">{{ group }}</button>{% endfor %}
                            logged in as: {{ user.username }}
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock base_main %}