{% extends "system/base_navbar.html" %}
{% block base_main %}
    {% if sidebar %}
        {% with class_name="col-md-8" %}
            <div class="{{ class_name }}">
        {% endwith %}
    {% else %}
        {% with class_name="col-md-12" %}
            <div class="{{ class_name }}">
        {% endwith %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    </div>
    {% if sidebar and groups %}
        <div class="col-md-4">
            <div class="content-section">
                <ul class="list-group">
                    {% if "Student" in groups %}
                        <li class="list-group-item list-group-item-light">Grades</li>
                        <li class="list-group-item list-group-item-light">Courses{{ student_str }}</li>
                    {% endif %}
                    {% if "Teacher" in groups %}
                        <li class="list-group-item list-group-item-light">Courses{{ teacher_str }}</li>
                    {% endif %}
                </ul>
            <div class="article-content">
                        <p class="article-content" style="display:inline">Your groups:
                {% for group in groups %}<button class="tag-buttons">{{ group }}</button>{% endfor %}
            </p>
            </div>
            </div>

        </div>
    {% endif %}
{% endblock base_main %}