{% extends "system/base_main.html" %}
{% block content %}
    <div class="page-metadata">
        <div class="page-title">
            <h1>Course: {{ object.title }}</h1>
        </div>
        {{ object.description }}

        <div class="page-buttonmenu">
            {% if position == 'teacher' %}
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'event-form' pk=object.pk %}">Add event</a>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'manage-students' pk=object.pk %}">Manage students</a>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'see-events' pk=object.pk %}">See events</a>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'course-update' pk=object.pk %}">Edit course info</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'course-delete' pk=object.pk %}">Delete course</a>
            {% endif %}
            {% if position == 'student' %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Leave course</a>
{#                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'course-leave' pk=object.pk %}?position={{ position }}">Leave course</a>#}
            {% endif %}
        </div>
        {% if position == 'teacher' %}
            {% for student in grade_summary %}
                <a class="article-link" href="#">
                    <div class="media content-section">
                        <div class="media-body">
                            <h2>{{ student.full_name }} </h2>
                            <p class="article-large-content">Grades: {{ student.grades }}  </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}