{% extends "system/base_main.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <h2>Student</h2>
        <p class="article-content">Student can join courses. He can also be invited by a teacher to join a course and check grades of his current courses.</p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2>Teacher</h2>
        <p class="article-content">Teacher can create courses. He can also give grades to students attending to his courses.</p>
      </div>
    </article>
{% endblock content %}