{% extends "system/base_main.html" %}
{% block content %}
    <div class="article-metadata">
        <h1>Overview</h1>
    </div>
    <div class="media-body">
        {% if groups %}
            <div class="article-content">Please select an option from a sidebar.
            </div>
        {% else %}
            <div class="article-content">Currently you do not belong to any group.

                If you are a student <a class="mr-2" href="#">apply to a course.</a>
                If you are a teacher <a class="mr-2" href="#">create your first course.</a>
            </div>
        {% endif %}
    </div>
    {% for grade in grades %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ grade.event.course }}</a>
              <small class="text-muted">{{ grade.event.date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ grade.grade }}</a></h2>
            <p class="article-content">{{ grade.owner }}</p>
            <p class="article-content">{{ grade.event }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}