{% extends "system/base_main.html" %}
{% block content %}
    <form method="GET">
        <input type="text" name="q" placeholder="Find course" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>
    {% for course in courses %}
        <a class="article-link" href="{% url 'course-detail' pk=course.pk %}?position={{ position }}">
            <div class="media content-section">
                <div class="media-body">
                    <h2>{{ course.title }}</h2>
                    <p class="article-small-content">Author: {{ course.author.user.get_full_name }}
                        Students: {{ course.students.all|length }}</p>
                    <p class="article-content">{{ course.description }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock content %}